<!DOCTYPE html>
<html lang="en">
  <!-- Head -->
  <%-include('layouts/head') %>
  <head>
    <link href="/css/g2.css" rel="stylesheet" />
  </head>
  <body style="background-color: black">
    <!-- Navigation-->
    <%-include('layouts/nav') %>
    <!-- Page Header-->
    <% if(currentPage !== "/g") {%> <% if(!user) {%>
    <div class="inner-header flex">
      <h1><a href="/g2">No User Found Create New</a></h1>

      <br />
    </div>

    <% }%> <% if(user) {%>
    <form
      id="g2Form"
      action="/g/update-user?licenseNumber=<%= user?.license_number %>"
      method="post"
    >
      <label for="fname">First Name</label>
      <input
        type="text"
        id="fname"
        name="fname"
        disabled
        value="<%= user?.fname %>"
      />
      <label for="lname">Last Name</label>
      <input
        type="text"
        id="lname"
        name="lname"
        value="<%= user?.lname %>"
        disabled
      />

      <label for="license_number"
        >License Number – must be 8 characters (alpha numeric)</label
      >
      <input
        type="text"
        id="license_number"
        name="license_number"
        value="<%= user?.license_number %>"
        disabled
      />

      <label for="age">Age</label>
      <input
        type="number"
        id="age"
        name="age"
        value="<%= user?.age %>"
        disabled
      />

      <label for="make">Car Make</label>
      <input
        type="text"
        id="make"
        name="make"
        value="<%= user?.car_details?.make %>"
      />

      <label for="model">Model</label>
      <input
        type="text"
        id="model"
        name="model"
        value="<%= user?.car_details?.model %>"
      />

      <label for="year">Year</label>
      <input
        type="number"
        id="year"
        name="year"
        value="<%= user?.car_details?.year %>"
      />

      <label for="plate">Plate Number</label>
      <input
        type="text"
        id="plate"
        name="plateno"
        value="<%= user?.car_details?.plateno ||user?.car_details?.platno %>"
      />
      <input type="submit" />
    </form>

    <% }%> <% }%> <% if(currentPage === "/g") {%>
    <form id="gForm" action="/g/get-user" method="get">
      <label for="licenseNumber"
        >License Number – must be 8 characters (alpha numeric)</label
      >
      <input type="text" id="licenseNumber" name="licenseNumber" />
      <br />
      <input type="submit" />
    </form>
    <% } %>
    <!-- Footer-->
    <%-include('layouts/footer') %> <%-include('layouts/scripts') %>
  </body>
</html>
