<!DOCTYPE html>
<html lang="en">
  <!-- Head -->
  <%-include('layouts/head') %>
  <head>
    <link href="/css/g2.css" rel="stylesheet" />
  </head>
  <body style="background-color: black">
    <!-- Navigation-->
    <%-include('layouts/nav') %>
    <!-- Page Header-->
    <form id="g2Form" action="/g2/new-user" method="post">
      <!-- name -->
      <label for="fname">First Name</label>
      <input
        type="text"
        id="fname"
        name="fname"
        disabled
        value="<%= user.fname %>"
      />
      <label for="lname">Last Name</label>
      <input
        type="text"
        id="lname"
        name="lname"
        disabled
        value="<%= user.lname %>"
      />

      <label for="lnumber">License Number </label>
      <input
        type="text"
        id="lnumber"
        name="license_number"
        disabled
        value="John Doe"
        value="<%= user.license_number %>"
      />

      <label for="age">Age</label>
      <input
        type="number"
        id="age"
        name="age"
        disabled
        value="<%= user.age %>"
      />

      <label for="make">Car Make</label>
      <input
        type="text"
        id="make"
        name="make"
        disabled
        value="John Doe"
        value="<%= user.car_details.make %>"
      />

      <label for="model">Model</label>
      <input
        type="text"
        id="model"
        name="model"
        disabled
        value="<%= user.car_details.model %>"
      />

      <label for="year">Year</label>
      <input
        type="number"
        id="year"
        name="year"
        disabled
        value="<%= user.car_details.year %>"
      />

      <label for="plate">Plate Number</label>
      <input
        type="text"
        id="plate"
        name="plateno"
        disabled
        value="<%= user.car_details.plateno %>"
      />
    </form>
    <!-- Footer-->
    <%-include('layouts/footer') %> <%-include('layouts/scripts') %>
  </body>
</html>
