<!DOCTYPE html>
<html lang="en">
  <!-- Head -->
  <%-include('layouts/head') %>
  <head>
    <link href="/css/login.css" rel="stylesheet" />
  </head>
  <body>
    <%-include('layouts/nav') %>
    <div
      class="container right-panel-active"
      id="container"
      style="margin-top: 200px"
    >
      <!-- Sign Up -->
      <div class="container__form container--signup">
        <form action="/g2/new-user" method="post" class="form" id="form1">
          <h2 class="form__title">Sign Up</h2>
          <input
            id="username"
            name="username"
            type="text"
            placeholder="username"
            class="input"
          />
          <input
            id="password"
            name="password"
            type="password"
            placeholder="password"
            class="input"
          />
          <input
            id="cpassword"
            name="cpassword"
            type="password"
            placeholder="Confirm Password"
            class="input"
          />
          <select name="userType" id="userType" class="input">
            <% userTypes.forEach(function(userType) { %>
            <option value="<%= userType.value %>"><%= userType.name %></option>
            <% }); %>
          </select>
          <button class="btn" type="submit">Sign Up</button>
        </form>
      </div>

      <!-- Sign In -->
      <div class="container__form container--signin">
        <form action="/user/signin" method="post" class="form" id="form2">
          <h2 class="form__title">Sign In</h2>
          <input
            type="text"
            placeholder="username"
            id="username"
            name="username"
            class="input"
          />
          <input
            type="password"
            placeholder="Password"
            id="password"
            class="input"
            name="password"
          />
          <a href="#" class="link">Forgot your password?</a>
          <button class="btn" type="submit">Sign In</button>
        </form>
      </div>

      <!-- Overlay -->
      <div class="container__overlay">
        <div class="overlay">
          <div class="overlay__panel overlay--left">
            <button class="btn" id="signIn">Sign In</button>
          </div>
          <div class="overlay__panel overlay--right">
            <button class="btn" id="signUp">Sign Up</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Footer-->
    <%-include('layouts/footer') %> <%-include('layouts/scripts') %>
    <script>
      const urlParams = new URLSearchParams(window.location.search);
      const signin = parseInt(urlParams.get("signin"));

      const signUpButton = document.getElementById("signUp");
      const signInButton = document.getElementById("signIn");
      const container = document.getElementById("container");

      signUpButton.addEventListener("click", () => {
        container.classList.add("right-panel-active");
      });

      signInButton.addEventListener("click", () => {
        container.classList.remove("right-panel-active");
      });

      signin ? signInButton.click() : "";
    </script>
  </body>
</html>
